 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @font-face {
    font-family: "Reservia";
    src: url("../police/Raleway-VariableFont_wght.ttf") format("truetype");
   }

body{
    font-family: Reservia;
}

/*HEADER*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
    padding-left: 40px;
}

.navbar-links {
    text-decoration: none;
    color: #0065fc;
}
.navbar-links:hover{
    color:  #0065fc;
    border-top: 2px solid #0065fc;
}
.navbars-links1{
    display: flex; 
    margin-left: auto;  
}
.navbars-links2{
    margin-top: 12px
}

.accomodation-link {
    border-top: 2px solid white;
    color: black;
    padding: 50px 20px 40px 20px;
}
.activities-link {
    border-top: 2px solid white ;
    color: black;
    padding: 50px 30px 40px 30px;
}
.registration-link {
    border-top: 2px solid white;
    font-weight: bold;
    color: #0065fc;
    text-decoration: none;
    padding: 50px 30px 40px 30px;
}

/* MAIN - TITRE - SUBTITLE- LIENS */

h1 {
    padding-top: 20px ;
    padding-left: 20px;
    font-size: 1.3em;
}
.subtitle {
    padding: 5px ;
    padding-left: 20px;
    font-size: 1em;
}
.links-sections{
    text-decoration: none;
    color: black;
}/*impacte toutes les ancres*/

/* MAIN - SEARCHBAR  */

.icon-location{
    align-items: center;
    border: 1px solid #deebff;
    color: black;
    background-color: #f2f2f2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 15px 15px;
}

.searchbar{
    margin: 10px 0 10px 20px;
    width: 60%;
    height: 50px;
    display: flex;
}
.searchbar input{
    outline: none;
    width: 285px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-left: 20px;
}
.searchbar input::placeholder{
    color: black;
}
.searchbar button{
    border: none;
    width: 120px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

  /* FILTERS */

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    display: flex;
    align-items: center;
    font-size: 1em;
}

.filters{
    width: 100%;
    margin-top: 5px;
    padding-left: 20px;
    display: flex;
    align-items: baseline;
    font-size: 1.06em;
    font-weight: bold;
    flex-wrap: wrap;
}
.filters-links{
    display: flex;
    margin: 8px;
    padding: 10px 20px 10px 20px;
}
.filter{
    border: 2px solid #deebff;
    border-radius: 50px;
    margin: 0px 20px 10px 0px;
    padding-right: 20px;
}
.filter-icons-color{
    color: #0065fc;
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}
.filter-icons-color:hover{
    color: #deebff;
    background-color: #0065fc;
}

      /* INFORMATION */

.information{
    padding-left: 20px;
}
.icon-info{
    align-items: center;
    border: 1px solid #deebff;
    color: #0065fc;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 20px;
}

/* MAIN - SECTION One - HEBERGEMENTS A  MARSEILLE*/

.section-one{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
h2{
    padding: 5px 0px 20px 10px;
    font-weight: bold;
}
h4{
    font-weight: bold;
}

.more-for-C1{
    padding-left: 20px;
    padding-top: 35px;
}

.container1{
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 65%;
    justify-content: space-around;
}

#accomodations{
    padding: 15px 0px 20px 15px;
}

.C1general{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.thumbnailsC1{
    border-radius: 25px;
    width: calc(100% / 3 - 25px);
    margin-bottom: 25px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}
.photosC1{
    width: 100%;
    height: 110px;
    padding-top: 0px;
    border: 5px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: center left;
}
.infos-th-C1{
    padding-left: 15px;  
}

  /* MAIN - SECTION One - LES PLUS POPULAIRES */


.container2{
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

#most-popular{
    padding: 15px 20px 20px 15px;
}

.title-icon-C2{
    display: flex;
    align-items: baseline;
}
.icon-chart{
    padding-left: 30px;
}

.thumbnailsC2 .links-sections {
    display: flex;
 }

.thumbnailsC2{
    width: 90%;
    height: 150px;
    border-radius: 25px;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px lightgray ;
}
.photosC2{
    width: 35%;
    height: 150px;
    padding-top: 0px;
    border: 5px solid white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    object-position: 50% 50%;
}
.infos-th-C2{
    padding-left: 20px;
    padding-top: 15px;
    font-size: 15px;
}

/* CONTENUS - VIGNETTES*/

.night-price{
    padding-top: 5px;
}
.price{
    font-weight: bold;
}
.icons-starsC1{
    padding-top: 5px;
}
.icons-starsC2{
   padding-top: 30px;
}
.icons-stars-color-blue{
    color: #0065fc;
}
.icons-stars-color-gray{
    color: #deebff;
}

/*MAIN - SECTION Two - ACTIVITES*/

.section-two{
    width: 100%;
    padding-left: 20px;
}

.container3{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.global-thumbnails{
    display: flex;
    width: 50%;
}

.thumbnailsC3{
    width: 50%;
    margin-right: 15px;
    height: 450px;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 2px 2px 5px lightgray;
}
.photosC3{
    width: 100%;
    height: 400px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbC4-C5{
    width: 50%;
}
.thumbnailsC4{
    width: 95%;
    height: 250px;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px lightgray;
}
.photosC4{
    width: 100%;
    height: 180px ;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbnailsC5{
    width: 95%;
    height: 180px;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px lightgray;
}
.photosC5{
    width: 100%;
    height: 120px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbC6-C7{
    width: 50%;
    
}
.thumbnailsC6{
    width: 95%;
    height: 180px;
    border: 5px solid white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px lightgray;
}
.photosC6{
    width: 100%;
    height: 120px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbnailsC7{
    width: 95%;
    height: 250px;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 1px 1px 5px lightgray;
}
.photosC7{
    width: 100%;
    height: 190px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.place{
    padding-left: 15px;
    padding-top: 10px;
}

/* ANIMATIONS IMAGES */

.thumbnails-zoom-effect{
    transition: transform .500ms;
}
.thumbnails-zoom-effect:hover{
    transform:  scale(1.05);
}

/* FOOTER */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding: 40px;
}
.navfooter{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.navfooter .links-sections{
    padding-top:10px ;
}


        /* RESPONSIVE */

                /*MOBILE*/

@media all and  (max-width: 768px){
    body{
        margin: 0px;
        width: 100%;
    }
    main{
        margin-left: 0px;
    }

/* header */
    #desktop{
        display:none;
    }
    .navbars-links1{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .navlink{
        width: 50%;
    }
    .reg-act-links{
        border-bottom: 3px solid #f2f2f2;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }
    .navbar-links:hover{
        border-top: 2px solid white;
        border-bottom: 3px solid #0065fc;
    }

/* searcbar */
    .searchbar{
        width: 90%;
    }
    .searchbar input{
        width: 50%;
    }
    #button-desktop{
        display: none;
    }
    #button-mobile{
        border: none;
        width: 50px;
        background-color: #0065fc;
        color: white;
        font-size: 1em;
        border-radius: 15px;   
    }
   
/* filters */
    .filter{
        margin: 0px 20px 10px 0px;
    }
    .filters-links{
        flex-wrap: wrap;
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

/* information container */
    .info-container{
        display: flex;
        margin: 20px 0px 20px 0px;
        align-items: center;
    }
    .icon-info{
        margin-right: 0px;
        margin-left: 20px;
    }

/* section 1 - containers 1 & 2 */
    .section-one{
        flex-direction: column-reverse;
        padding: 0px;
    }
    .container1{
        width: 100%;
        background-color: white;
    }
    .C1general{
        justify-content: space-between;
    }
   
    #accomodations{
        padding-left: 20px;
    }
    .thumbnailsC1{
        width: 91%;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .more-for-C1{
        padding-top: initial;
        padding-left: 20px;
    }

/* container 2 */
    .container2{
        flex-wrap: wrap;
        width: 100%;
        border-radius: initial;
        padding: 0px 0px 0px 15px;
        justify-content: space-between;
    }
    .title-icon-C2{
        width: 100%;
        justify-content: space-between;
        padding-right: 55px;
    }
    #most-popular{
        padding-left: 15px;
    }
   
    .thumbnails-most-popular{
        width: 100%;
    }
    .thumbnailsC2{
        width: 90%;
    }

/* section 2 - container 3 */
    .container3{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .thumbnailsgeneralC3M{
        width: 95%;
        margin-left: 10px;
        margin-bottom: 20px;
        height: 200px;
    }
    .photosgeneralC3M{
        height: 140px;
    }
    .global-thumbnails{
        flex-direction: column;
        width: 95%;
    }
    .photosC3{
        height: 70%;
    }
    .thumbC4-C5{
        width: 100%;
    }
    .thumbC6-C7{
        width: 100%;
    }

/* footer */
    footer{
        flex-direction: column;
        margin-top: 40px;
    }
    .info-footer{
        padding-bottom: 30px;
    }                   
}

                     /*TABLETTE*/


@media all and (min-width: 768px) and (max-width: 960px){
/*header*/    
    #desktop{
        width: 100%;
        display: contents;
    }
    
    #mobile{
        display: none;
    }

/*searchbar*/    
    #button-mobile{
        display: none;
    }

/*filters*/    
    .filters{
        width: 95%;
        padding-left: 0px;
        margin-left: 20px;
        align-items: baseline;
    }
    .filters-links{
        padding: 10px 20px 10px 0px;
        margin: 0px;
    }

/*information*/    
    .info-container{
        display: flex;
        align-items: center;
    }
    .info-icon{
        margin-left: 20px;
    }
    .information{
        padding-left: 0px;
    }

/*section-one*/    
    .section-one{
        flex-direction: column-reverse;
        width: 100%;
    }
    .container1{
        width: auto;
        margin-top: 20px;
    }
    .container2{
        width: 100%;
    }
    .title-icon-C2{
        width: 100%;
        justify-content: space-between;
        padding-right: 20px;
    }
    .thumbnails-most-popular{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .infos-th-C2{
        padding-left: 15px;
        padding-top: 20px;
        font-size: 14px;
    }
    .icons-starsC2{
        padding-top: 25px;
    }

/*section-two*/    
    .container3{
        width: 99%;
        flex-direction: column;
    }  
    .global-thumbnails{
        width: 100%;
        height: 50%;
        margin-bottom: 15px;
    }
    .thumbnailsC3{
        width: 48%;
        height: 100%;
    }
    .photosC3{
        height: 70%;
    }
    .thumbC4-C5{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 15px;
    }
    .thumbnailsC4{
        height: 100%;
        width: 95%;
    }
    .photosC4{
        height: 70%;
    }
    .thumbnailsC5{
        height: 100%;
        width: 95%;
        margin-left: 16px;
    }
    .photosC5{
        height: 70%;
    }
    .thumbC6-C7{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 15px;
    }
    .thumbnailsC6{
        height: 100%;
        width: 95%;
    }
    .photosC6{
        height: 70%;
    }
    .thumbnailsC7{
        height: 100%;
        width: 95%;
        margin-left: 16px;
    }
    .photosC7{
        height: 70%;
    }
}

@media all and (min-width: 960px) and (max-width:1440PX){
    #desktop{
        width: 100%;
    }
    #mobile{
        display: none;
    }

    #button-mobile{
        display: none;
    }

    .info-container{
        display: flex;
        align-items: center;
    }
    .info-icon{
        margin-left: 20px;
    }
    .information{
        padding-left: 0px;
    }
}    