 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @font-face {
    font-family: "Reservia";
    src: url("police/Raleway-VariableFont_wght.ttf") format("truetype");
   }
   
body{
    /* font-family: Raleway, sans-serif; */
    font-family: Reservia;
    /* margin-left: 20px; */

}


/*HEADER*/

main{
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}

.logo{
    width: 150px;
    padding-left: 40px;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    display: flex;
    align-items: center;
    font-size: 1em;
}


.navbar-links {   
    text-decoration: none; 
    color: #0065fc;
} 

.navbar-links:hover{
    color:  #0065fc;
    border-top: 2px solid #0065fc;  
}   


.accomodation-link {
    /* margin: 20px; */
    border-top: 2px solid white;
    color: black;   
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.navbars-links1{
    display: flex;
}



.activities-link {
    border-top: 2px solid white ;
    color: black;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.registration-link {
    border-top: 2px solid white;
    font-weight: bold;
    color: #0065fc;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}


/* MAIN - TITRE - SUBTITLE- */

h1 {
    padding-top: 20px ;
    padding-left: 20px;
    font-size: 1.3em; 
}
.subtitle {
    padding: 5px ;
    padding-left: 20px;
    font-size: 1em;
}

/* MAIN - SEARCHBAR  */

.icon-location{
    align-items: center;
    border: 1px solid #deebff;
    color: black;
    background-color: #f2f2f2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 15px 15px;
}


.searchbar{
    margin: 10px 0 10px 20px;
    width: 34%;
    height: 50px;
    display: flex;
}
.searchbar input{
    width: 350px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-left: 20px;
} 

  
.searchbar button{
    border: none;
    width: 150px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


  /* FILTERS */  

.filters{
    width: 100%;
    margin-top: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 1.06em;
    font-weight: bold;
    flex-wrap: wrap;
}
.filters-links{
    margin: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links-sections{
    text-decoration: none;
    color: black;
}

/* .filter{ 
    border: 2px solid #deebff;
    border-radius: 50px;
    margin: 0px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px ;
} */
.filter{
    border: 2px solid #deebff;
    border-radius: 50px;
    margin: 0px 20px;
    padding-right: 20px;
}
.filter-icons-color{
    color: #0065fc;
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}
.filter-icons-color:hover{
    color: #deebff;
    background-color: #0065fc;
}


  /* INFORMATION */

.information{
    padding-left: 20px;
}
.icon-info{
    align-items: center;
    border: 1px solid #deebff;
    color: #0065fc;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 20px;
    
}

/* ATTRIBUTS - lINKS */



/* MAIN - SECTION One - HEBERGEMENTS A  MARSEILLE*/

.section-one{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* flex-shrink: initial; */
}
h2{
    padding: 20px;
}

h4{
    font-weight: bold;
}
.more-for-C1{
    padding-left: 20px;
    padding-top: 35px;
}

.container1{
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 850px;
    height: 620px;
    padding: 10px;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.thumbnailsC1{
    border-radius: 25px;
    border: 5px solid white;
    width: 250px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
    
}

.infos-th-C1{
    padding-left: 20px;
    padding-top: 15px;  
}

.by-price{
    display: flex;
    border-radius: 25px;
    justify-content: space-around;
    padding-bottom: 25px;
    /* flex-wrap: wrap; */
   
}

.by-stars{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    
    
}

.photosC1{
    width: 100%;
    height: 100px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: center left;
}

/* MAIN - SECTION One - LES PLUS POPULAIRES */

/* #activties{
    padding-left: 5px;
} */
.container2{
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 400px;
    height: 620px;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
}
.title-icon-C2{
    display: flex;
    align-items: center;
}
.icon-chart{
    padding-left: 60px;
}

.thumbnailsC2 .links-sections {
    display: flex; 
 } 

.thumbnailsC2{
    width: 320px;
    height: 150px;
    border: 5px solid white;
    border-radius: 25px;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px; 
    background-color: white;
    box-shadow: 2px 2px 5px lightgray ;  
}


.photosC2{
    width: 35%;
    height: 140px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* CONTENUS - VIGNETTES*/

.infos-th-C2{
    padding-left: 20px;
    padding-top: 15px;   
}
.night-price{
    padding-top: 10px;
}
.price{
    font-weight: bold;
}

.icons-starsC2{
   padding-top: 30px;
}

.icons-stars-color-blue{
    color: #0065fc;
}
.icons-stars-color-gray{
    color: #deebff;
}
.icons-starsC1{
    padding-top: 10px;
}


/*MAIN - SECTION Two - ACTIVITES*/


.section-two{
    /* width: 1290px; */
    width: 100%;
    padding-left: 20px;
}

.container3{
    display: flex;
    justify-content: space-between;
    width: 1290px;
    height: 500px;   
}

.thumbnailsC3{
    width: 300px;
    height: 450px;
    border: 5px solid white;

    border-radius: 25px;
    box-shadow: 2px 2px 5px lightgray;  
}

.photosC3{
    width: 100%;
    height: 400px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;   
}
.place{
    padding-left: 15px;
    padding-top: 10px; 
}

.thumbnailsC4{
    width: 300px;
    height: 250px;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px lightgray;  

}
.photosC4{
    width: 100%;
    height: 180px ;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbnailsC5{
    width: 300px;
    height: 180px;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px lightgray;  
}

.photosC5{
    width: 100%;
    height: 120px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbnailsC6{
    width: 300px;
    height: 180px;
    border: 5px solid white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px lightgray;  
}
.photosC6{
    width: 100%;
    height: 120px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.thumbnailsC7{
    width: 300px;
    height: 250px;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 1px 1px 5px lightgray;  
    
}
.photosC7{
    width: 100%;
    height: 190px;
    padding-top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

/* ANIMATIONS IMAGES */

.thumbnails-zoom-effect{
    transition: transform .500ms;
} 
.thumbnails-zoom-effect:hover{
    transform:  scale(1.05);
}

/* FOOTER */

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 20px;
    
}

.navfooter{
    display: flex;
    flex-direction: column;
    
}
.footer{
    padding: 40px;
}
.navfooter{
    padding-top: 10px;
}
.navfooter .links-sections{
    padding-top:10px ;
}

/* RESPONSIVE */


    


